body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-box {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.5rem;
  background-color: #2979ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

span {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}
